<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel - %d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.acrd.giraffe.test" level="ERROR"/>
    <logger name="com.acrd.giraffe" level="WARN"/>

    <root level="OFF">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>